In [7]:
import pandas as pd
import numpy as np
import pickle

In [9]:
df = pickle.load(open('dataset_level_2.pkl', 'rb'))

In [11]:
df.head()

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,venue
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"

In [13]:
# city
# batting_team
# bowling_team
# current_score
# wickets_left
# CRR
# balls_Left
# last_five

In [15]:
cities = np.where(df['city'].isnull(), df['venue'].str.split().apply(lambda x:x[0]), df['city'])

In [19]:
print(cities)

['Brisbane' 'Brisbane' 'Brisbane' ... 'Belfast' 'Belfast' 'Belfast']

In [23]:
df['city'] = cities

In [25]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
batter              0
bowler              0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [27]:
df.drop(columns='venue', inplace=True)

In [29]:
df.sample(5)

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city
241636,847,Sri Lanka,Bangladesh,8.3,ST Jayasuriya,Mashrafe Mortaza,4,0,Karachi
101005,357,England,West Indies,14.1,AD Hales,CR Brathwaite,1,0,St George's
238514,837,Zimbabwe,Pakistan,0.6,V Sibanda,Sohail Tanvir,0,0,Faisalabad
224358,787,New Zealand,South Africa,27.4,JM How,JA Morkel,0,0,Durban
257114,900,India,England,9.2,G Gambhir,SCJ Broad,4,0,Bangalore

In [31]:
df['city'].value_counts()[df['city'].value_counts() > 600]

city
Mirpur       25343
Harare       18799
London       18405
Colombo      17888
Bulawayo     11016
             ...
Darwin         839
Margao         626
Bengaluru      621
Whangarei      619
Gwalior        607
Name: count, Length: 100, dtype: int64

In [33]:
# consider city where count > 600 i.e. around 6 full 1st innings (12 * 50)
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [35]:
eligible_cities

['Mirpur',
 'Harare',
 'London',
 'Colombo',
 'Bulawayo',
 'Sydney',
 'Abu Dhabi',
 'Rangiri',
 'Melbourne',
 'Sharjah',
 'Centurion',
 'Adelaide',
 'Perth',
 'Dubai',
 'Birmingham',
 'Auckland',
 'Johannesburg',
 'Brisbane',
 'Pallekele',
 'Wellington',
 'Dublin',
 'Southampton',
 'Hamilton',
 'Guyana',
 'Cardiff',
 'Durban',
 'Port Elizabeth',
 'Manchester',
 'Jamaica',
 'Nottingham',
 'Antigua',
 'Cape Town',
 'Belfast',
 'Trinidad',
 'Chandigarh',
 'Karachi',
 'Christchurch',
 'Hambantota',
 'Leeds',
 'Napier',
 'St Lucia',
 'Barbados',
 'Lahore',
 'Mumbai',
 'St Kitts',
 'Chester-le-Street',
 'Chittagong',
 'Ahmedabad',
 'Hobart',
 'Grenada',
 'Dhaka',
 'Jaipur',
 'Delhi',
 'Mount Maunganui',
 'Nagpur',
 'Visakhapatnam',
 'Chennai',
 'Bristol',
 'Nelson',
 'Canberra',
 'Bloemfontein',
 'Dunedin',
 'Fatullah',
 'St Vincent',
 'Kolkata',
 'Rajkot',
 'Bangalore',
 'Hyderabad',
 'Kanpur',
 'Potchefstroom',
 'Cuttack',
 'Kuala Lumpur',
 'Indore',
 'Pune',
 'Rawalpindi',
 'Benoni',
 'Paarl',
 'Multan',
 'Vadodara',
 'Ranchi',
 'East London',
 'Greater Noida',
 'Bridgetown',
 'Kochi',
 'Faisalabad',
 'Guwahati',
 'Dehra Dun',
 'Dominica',
 'Queenstown',
 'Bogra',
 'Kimberley',
 'Sylhet',
 'Chattogram',
 'Lucknow',
 'Taunton',
 'Darwin',
 'Margao',
 'Bengaluru',
 'Whangarei',
 'Gwalior']

In [12]:
df[df['city'].isin(eligible_cities)]

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane
...,...,...,...,...,...,...,...,...,...
514848,1798,Ireland,Afghanistan,49.2,EC Joyce,Rashid Khan,4,0,Belfast
514849,1798,Ireland,Afghanistan,49.3,EC Joyce,Rashid Khan,4,0,Belfast
514850,1798,Ireland,Afghanistan,49.4,EC Joyce,Rashid Khan,1,0,Belfast
514851,1798,Ireland,Afghanistan,49.5,SW Poynter,Rashid Khan,1,0,Belfast
514852,1798,Ireland,Afghanistan,49.6,EC Joyce,Rashid Khan,0,0,Belfast

In [13]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [14]:
df

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1
...,...,...,...,...,...,...,...,...,...,...
514848,1798,Ireland,Afghanistan,49.2,EC Joyce,Rashid Khan,4,0,Belfast,259
514849,1798,Ireland,Afghanistan,49.3,EC Joyce,Rashid Khan,4,0,Belfast,263
514850,1798,Ireland,Afghanistan,49.4,EC Joyce,Rashid Khan,1,0,Belfast,264
514851,1798,Ireland,Afghanistan,49.5,SW Poynter,Rashid Khan,1,0,Belfast,265
514852,1798,Ireland,Afghanistan,49.6,EC Joyce,Rashid Khan,0,0,Belfast,265

In [15]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])

In [16]:
df.sample(5)

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over
30436,108,Afghanistan,Zimbabwe,12.1,Noor Ali Zadran,SF Mire,1,0,Harare,39,12
82950,295,South Africa,Australia,33.5,HE van der Dussen,GJ Maxwell,1,0,Manchester,196,33
143598,507,England,Pakistan,18.7,IR Bell,Shoaib Akhtar,0,0,Cardiff,75,18
318207,1114,Ireland,Bangladesh,39.1,JF Mooney,Mashrafe Mortaza,1,0,Belfast,138,39
353869,1239,England,India,30.6,SR Patel,V Kohli,1,0,Mumbai,144,30

In [17]:
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

In [18]:
df.sample(5)

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no
258028,903,India,New Zealand,37.4,YK Pathan,JD Ryder,1,0,Napier,269,37,4
235119,824,Australia,West Indies,6.3,SE Marsh,FH Edwards,1,0,St Kitts,44,6,3
41940,149,Pakistan,New Zealand,0.5,Fakhar Zaman,TG Southee,0,0,Hamilton,2,0,5
441276,1544,Bangladesh,New Zealand,18.1,Mominul Haque,NL McCullum,0,0,Mirpur,67,18,1
35510,127,West Indies,India,4.4,KA Hope,UT Yadav,2,0,Jamaica,26,4,4

In [19]:
df['balls_bowled'] = (df['over'].astype('int') * 6) + df['ball_no'].astype('int')

In [20]:
df.head()

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,1,1
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,2,2
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,3,3
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,4,4
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1,0,5,5

In [21]:
df['balls_left'] = 300 - df['balls_bowled']

In [22]:
df.head()

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,1,1,299
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,2,2,298
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,3,3,297
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,4,4,296
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1,0,5,5,295

In [23]:
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x < 0 else x)

In [24]:
df

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,1,1,299
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,2,2,298
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,3,3,297
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,4,4,296
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1,0,5,5,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514848,1798,Ireland,Afghanistan,49.2,EC Joyce,Rashid Khan,4,0,Belfast,259,49,2,296,4
514849,1798,Ireland,Afghanistan,49.3,EC Joyce,Rashid Khan,4,0,Belfast,263,49,3,297,3
514850,1798,Ireland,Afghanistan,49.4,EC Joyce,Rashid Khan,1,0,Belfast,264,49,4,298,2
514851,1798,Ireland,Afghanistan,49.5,SW Poynter,Rashid Khan,1,0,Belfast,265,49,5,299,1
514852,1798,Ireland,Afghanistan,49.6,EC Joyce,Rashid Khan,0,0,Belfast,265,49,6,300,0

In [25]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x == '0' else 1)

In [26]:
df.sample(5)

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
274387,962,Australia,West Indies,40.1,CL White,DR Smith,1,0,Melbourne,223,40,1,241,59
486901,1702,Pakistan,Zimbabwe,1.5,Azhar Ali,T Panyangara,0,0,Lahore,15,1,5,11,289
464957,1625,Sri Lanka,Pakistan,48.6,NLTC Perera,Junaid Khan,0,0,Hambantota,300,48,6,294,6
226397,794,West Indies,South Africa,23.3,DS Smith,JP Duminy,1,0,Johannesburg,141,23,3,141,159
341185,1195,West Indies,India,27.5,CS Baugh,A Mishra,2,0,Antigua,95,27,5,167,133

In [27]:
# converting player_dismissed to int for calculation
df['player_dismissed'] = df['player_dismissed'].astype('int')

In [28]:
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()

In [29]:
df['wickets_left'] = 10 - df['player_dismissed']

In [30]:
df.head(100)

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,1,1,299,10
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,2,2,298,10
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,3,3,297,10
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,4,4,296,10
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1,0,5,5,295,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,Australia,Pakistan,15.3,GJ Maxwell,Wahab Riaz,0,4,Brisbane,76,15,3,93,207,6
96,2,Australia,Pakistan,15.4,GJ Maxwell,Wahab Riaz,1,4,Brisbane,77,15,4,94,206,6
97,2,Australia,Pakistan,15.5,MR Marsh,Wahab Riaz,0,4,Brisbane,77,15,5,95,205,6
98,2,Australia,Pakistan,15.6,MR Marsh,Wahab Riaz,0,4,Brisbane,77,15,6,96,204,6
99,2,Australia,Pakistan,16.1,GJ Maxwell,Imad Wasim,1,4,Brisbane,78,16,1,97,203,6

In [31]:
df['CRR'] = (df['current_score'] * 6) / (df['balls_bowled'])

In [32]:
df

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,CRR
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,1,1,299,10,0.000000
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,2,2,298,10,0.000000
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,3,3,297,10,0.000000
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,4,4,296,10,0.000000
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1,0,5,5,295,10,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514848,1798,Ireland,Afghanistan,49.2,EC Joyce,Rashid Khan,4,5,Belfast,259,49,2,296,4,5,5.250000
514849,1798,Ireland,Afghanistan,49.3,EC Joyce,Rashid Khan,4,5,Belfast,263,49,3,297,3,5,5.313131
514850,1798,Ireland,Afghanistan,49.4,EC Joyce,Rashid Khan,1,5,Belfast,264,49,4,298,2,5,5.315436
514851,1798,Ireland,Afghanistan,49.5,SW Poynter,Rashid Khan,1,5,Belfast,265,49,5,299,1,5,5.317726
514852,1798,Ireland,Afghanistan,49.6,EC Joyce,Rashid Khan,0,5,Belfast,265,49,6,300,0,5,5.300000

In [33]:
groups = df.groupby('match_id')

In [34]:
match_ids = df['match_id'].unique()
last_five = []

# for id in match_ids:
#     last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

for id in match_ids:
    group = groups.get_group(id)
    last_five.extend(group['runs'].rolling(window=30).sum().values.tolist())

In [35]:
df['runs'].dtype

dtype('int64')

In [36]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13.0,
 13.0,
 14.0,
 15.0,
 16.0,
 19.0,
 20.0,
 20.0,
 20.0,
 19.0,
 19.0,
 20.0,
 23.0,
 23.0,
 22.0,
 28.0,
 28.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 34.0,
 37.0,
 41.0,
 40.0,
 39.0,
 39.0,
 39.0,
 43.0,
 47.0,
 46.0,
 46.0,
 46.0,
 42.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 39.0,
 39.0,
 34.0,
 33.0,
 31.0,
 32.0,
 28.0,
 29.0,
 28.0,
 28.0,
 24.0,
 22.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 14.0,
 11.0,
 12.0,
 11.0,
 10.0,
 14.0,
 14.0,
 15.0,
 15.0,
 15.0,
 15.0,
 14.0,
 15.0,
 16.0,
 17.0,
 16.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 17.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 20.0,
 21.0,
 22.0,
 19.0,
 19.0,
 18.0,
 19.0,
 19.0,
 20.0,
 20.0,
 19.0,
 22.0,
 21.0,
 22.0,
 23.0,
 22.0,
 21.0,
 22.0,
 21.0,
 22.0,
 21.0,
 24.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 25.0,
 25.0,
 28.0,
 28.0,
 27.0,
 30.0,
 29.0,
 30.0,
 30.0,
 33.0,
 34.0,
 32.0,
 33.0,
 34.0,
 31.0,
 33.0,
 32.0,
 30.0,
 34.0,
 34.0,
 34.0,
 35.0,
 35.0,
 37.0,
 34.0,
 35.0,
 35.0,
 36.0,
 36.0,
 36.0,
 37.0,
 37.0,
 33.0,
 32.0,
 33.0,
 29.0,
 29.0,
 28.0,
 29.0,
 29.0,
 28.0,
 28.0,
 29.0,
 28.0,
 27.0,
 26.0,
 26.0,
 26.0,
 22.0,
 24.0,
 24.0,
 24.0,
 24.0,
 23.0,
 22.0,
 21.0,
 21.0,
 20.0,
 20.0,
 20.0,
 20.0,
 19.0,
 19.0,
 18.0,
 18.0,
 19.0,
 20.0,
 20.0,
 19.0,
 16.0,
 16.0,
 16.0,
 14.0,
 14.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 14.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 16.0,
 17.0,
 19.0,
 21.0,
 20.0,
 20.0,
 19.0,
 19.0,
 20.0,
 20.0,
 21.0,
 21.0,
 21.0,
 21.0,
 20.0,
 25.0,
 27.0,
 29.0,
 29.0,
 30.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 30.0,
 33.0,
 32.0,
 31.0,
 33.0,
 32.0,
 33.0,
 32.0,
 33.0,
 33.0,
 33.0,
 38.0,
 38.0,
 39.0,
 40.0,
 40.0,
 40.0,
 34.0,
 32.0,
 30.0,
 30.0,
 30.0,
 35.0,
 35.0,
 35.0,
 37.0,
 37.0,
 40.0,
 41.0,
 40.0,
 39.0,
 35.0,
 39.0,
 40.0,
 36.0,
 35.0,
 36.0,
 37.0,
 36.0,
 40.0,
 39.0,
 33.0,
 34.0,
 34.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 26.0,
 24.0,
 26.0,
 26.0,
 25.0,
 26.0,
 26.0,
 25.0,
 21.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 17.0,
 19.0,
 19.0,
 23.0,
 23.0,
 23.0,
 22.0,
 22.0,
 22.0,
 21.0,
 19.0,
 23.0,
 25.0,
 24.0,
 23.0,
 22.0,
 20.0,
 19.0,
 19.0,
 19.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 27.0,
 28.0,
 28.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 26.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 25.0,
 22.0,
 22.0,
 23.0,
 24.0,
 24.0,
 24.0,
 25.0,
 24.0,
 24.0,
 24.0,
 26.0,
 26.0,
 26.0,
 23.0,
 21.0,
 21.0,
 17.0,
 18.0,
 22.0,
 21.0,
 21.0,
 20.0,
 19.0,
 22.0,
 23.0,
 23.0,
 23.0,
 25.0,
 26.0,
 25.0,
 24.0,
 24.0,
 23.0,
 22.0,
 24.0,
 26.0,
 25.0,
 29.0,
 25.0,
 25.0,
 24.0,
 25.0,
 25.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 22.0,
 22.0,
 23.0,
 23.0,
 24.0,
 20.0,
 25.0,
 26.0,
 26.0,
 24.0,
 24.0,
 24.0,
 24.0,
 25.0,
 25.0,
 26.0,
 25.0,
 24.0,
 24.0,
 21.0,
 21.0,
 22.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 23.0,
 21.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 17.0,
 17.0,
 17.0,
 16.0,
 16.0,
 16.0,
 16.0,
 15.0,
 16.0,
 16.0,
 16.0,
 15.0,
 16.0,
 15.0,
 16.0,
 15.0,
 14.0,
 13.0,
 12.0,
 12.0,
 12.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 16.0,
 16.0,
 16.0,
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 19.0,
 19.0,
 22.0,
 22.0,
 21.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 23.0,
 22.0,
 21.0,
 21.0,
 22.0,
 20.0,
 20.0,
 20.0,
 20.0,
 19.0,
 19.0,
 18.0,
 18.0,
 18.0,
 15.0,
 15.0,
 18.0,
 18.0,
 18.0,
 17.0,
 17.0,
 18.0,
 15.0,
 15.0,
 16.0,
 15.0,
 15.0,
 14.0,
 15.0,
 16.0,
 17.0,
 19.0,
 19.0,
 19.0,
 17.0,
 18.0,
 23.0,
 25.0,
 26.0,
 26.0,
 26.0,
 27.0,
 28.0,
 29.0,
 29.0,
 30.0,
 26.0,
 27.0,
 27.0,
 29.0,
 30.0,
 29.0,
 29.0,
 29.0,
 28.0,
 29.0,
 29.0,
 30.0,
 29.0,
 28.0,
 27.0,
 25.0,
 29.0,
 28.0,
 29.0,
 28.0,
 23.0,
 21.0,
 20.0,
 21.0,
 21.0,
 20.0,
 20.0,
 19.0,
 22.0,
 21.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 39.0,
 38.0,
 42.0,
 42.0,
 42.0,
 42.0,
 41.0,
 41.0,
 40.0,
 40.0,
 40.0,
 36.0,
 38.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 32.0,
 32.0,
 30.0,
 28.0,
 29.0,
 23.0,
 19.0,
 15.0,
 11.0,
 11.0,
 12.0,
 12.0,
 10.0,
 10.0,
 7.0,
 7.0,
 8.0,
 8.0,
 11.0,
 12.0,
 12.0,
 12.0,
 13.0,
 14.0,
 13.0,
 13.0,
 14.0,
 14.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 15.0,
 14.0,
 14.0,
 14.0,
 18.0,
 18.0,
 18.0,
 17.0,
 16.0,
 16.0,
 20.0,
 20.0,
 21.0,
 21.0,
 21.0,
 19.0,
 18.0,
 22.0,
 26.0,
 29.0,
 28.0,
 27.0,
 27.0,
 26.0,
 26.0,
 28.0,
 30.0,
 30.0,
 30.0,
 30.0,
 29.0,
 30.0,
 30.0,
 31.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 32.0,
 29.0,
 28.0,
 28.0,
 27.0,
 27.0,
 26.0,
 27.0,
 23.0,
 19.0,
 15.0,
 19.0,
 20.0,
 20.0,
 21.0,
 22.0,
 20.0,
 19.0,
 19.0,
 18.0,
 18.0,
 24.0,
 23.0,
 23.0,
 22.0,
 22.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 28.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 32.0,
 33.0,
 37.0,
 34.0,
 33.0,
 33.0,
 32.0,
 32.0,
 33.0,
 32.0,
 32.0,
 34.0,
 35.0,
 30.0,
 30.0,
 30.0,
 31.0,
 31.0,
 27.0,
 27.0,
 26.0,
 25.0,
 29.0,
 29.0,
 30.0,
 31.0,
 31.0,
 32.0,
 33.0,
 33.0,
 29.0,
 29.0,
 25.0,
 24.0,
 24.0,
 24.0,
 26.0,
 26.0,
 26.0,
 27.0,
 27.0,
 25.0,
 25.0,
 24.0,
 24.0,
 26.0,
 27.0,
 27.0,
 25.0,
 24.0,
 25.0,
 25.0,
 23.0,
 24.0,
 26.0,
 25.0,
 25.0,
 24.0,
 23.0,
 22.0,
 23.0,
 22.0,
 23.0,
 24.0,
 24.0,
 25.0,
 29.0,
 28.0,
 28.0,
 27.0,
 28.0,
 28.0,
 27.0,
 28.0,
 28.0,
 27.0,
 27.0,
 27.0,
 27.0,
 28.0,
 28.0,
 30.0,
 28.0,
 26.0,
 22.0,
 23.0,
 26.0,
 27.0,
 28.0,
 29.0,
 29.0,
 29.0,
 28.0,
 28.0,
 29.0,
 29.0,
 23.0,
 24.0,
 24.0,
 25.0,
 25.0,
 26.0,
 27.0,
 26.0,
 27.0,
 27.0,
 25.0,
 25.0,
 26.0,
 27.0,
 32.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 27.0,
 30.0,
 30.0,
 30.0,
 29.0,
 30.0,
 31.0,
 30.0,
 29.0,
 29.0,
 30.0,
 29.0,
 28.0,
 27.0,
 28.0,
 27.0,
 26.0,
 26.0,
 26.0,
 25.0,
 25.0,
 25.0,
 24.0,
 22.0,
 20.0,
 19.0,
 20.0,
 21.0,
 22.0,
 21.0,
 22.0,
 19.0,
 20.0,
 20.0,
 21.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 38.0,
 43.0,
 42.0,
 44.0,
 44.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 42.0,
 39.0,
 38.0,
 38.0,
 38.0,
 34.0,
 34.0,
 34.0,
 31.0,
 31.0,
 31.0,
 32.0,
 31.0,
 28.0,
 25.0,
 26.0,
 26.0,
 30.0,
 30.0,
 24.0,
 25.0,
 23.0,
 23.0,
 19.0,
 20.0,
 20.0,
 20.0,
 21.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 23.0,
 23.0,
 22.0,
 ...]

In [37]:
df['last_five'] = last_five

In [38]:
df

,match_id,batting_team,bowling_team,ball,batter,bowler,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,CRR,last_five
0,2,Australia,Pakistan,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,1,1,299,10,0.000000,NaN
1,2,Australia,Pakistan,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,2,2,298,10,0.000000,NaN
2,2,Australia,Pakistan,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,3,3,297,10,0.000000,NaN
3,2,Australia,Pakistan,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,0,0,4,4,296,10,0.000000,NaN
4,2,Australia,Pakistan,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,1,0,5,5,295,10,1.200000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514848,1798,Ireland,Afghanistan,49.2,EC Joyce,Rashid Khan,4,5,Belfast,259,49,2,296,4,5,5.250000,60.0
514849,1798,Ireland,Afghanistan,49.3,EC Joyce,Rashid Khan,4,5,Belfast,263,49,3,297,3,5,5.313131,63.0
514850,1798,Ireland,Afghanistan,49.4,EC Joyce,Rashid Khan,1,5,Belfast,264,49,4,298,2,5,5.315436,64.0
514851,1798,Ireland,Afghanistan,49.5,SW Poynter,Rashid Khan,1,5,Belfast,265,49,5,299,1,5,5.317726,63.0
514852,1798,Ireland,Afghanistan,49.6,EC Joyce,Rashid Khan,0,5,Belfast,265,49,6,300,0,5,5.300000,62.0

In [39]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')

In [40]:
completed_df = final_df[['batting_team', 'bowling_team', 'city', 'current_score', 'wickets_left', 'balls_left', 'CRR', 'last_five', 'runs_x']]

In [41]:
completed_df

,batting_team,bowling_team,city,current_score,wickets_left,balls_left,CRR,last_five,runs_x
0,Australia,Pakistan,Brisbane,0,10,299,0.000000,NaN,268
1,Australia,Pakistan,Brisbane,0,10,298,0.000000,NaN,268
2,Australia,Pakistan,Brisbane,0,10,297,0.000000,NaN,268
3,Australia,Pakistan,Brisbane,0,10,296,0.000000,NaN,268
4,Australia,Pakistan,Brisbane,1,10,295,1.200000,NaN,268
...,...,...,...,...,...,...,...,...,...
460471,Ireland,Afghanistan,Belfast,259,5,4,5.250000,60.0,265
460472,Ireland,Afghanistan,Belfast,263,5,3,5.313131,63.0,265
460473,Ireland,Afghanistan,Belfast,264,5,2,5.315436,64.0,265
460474,Ireland,Afghanistan,Belfast,265,5,1,5.317726,63.0,265
460475,Ireland,Afghanistan,Belfast,265,5,0,5.300000,62.0,265

In [42]:
completed_df.dropna(inplace=True)

C:\Users\umair\AppData\Local\Temp\ipykernel_11148\1291837336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  completed_df.dropna(inplace=True)

In [43]:
completed_df = completed_df.sample(completed_df.shape[0])

In [44]:
completed_df

,batting_team,bowling_team,city,current_score,wickets_left,balls_left,CRR,last_five,runs_x
163265,South Africa,Pakistan,Chandigarh,96,5,129,3.368421,10.0,213
10810,England,West Indies,Antigua,123,7,148,4.855263,31.0,296
415010,New Zealand,Sri Lanka,Dunedin,204,7,72,5.368421,32.0,315
59947,Sri Lanka,South Africa,Port Elizabeth,110,3,130,3.882353,17.0,189
302560,Sri Lanka,Australia,Hambantota,148,5,68,3.827586,15.0,208
...,...,...,...,...,...,...,...,...,...
153344,Zimbabwe,Bangladesh,Harare,124,8,117,4.065574,15.0,197
3912,Bangladesh,New Zealand,Nelson,43,10,241,4.372881,26.0,236
341246,Australia,Sri Lanka,Hobart,246,5,1,4.936455,47.0,247
363196,South Africa,India,Durban,219,8,55,5.363265,23.0,280
451011,South Africa,Australia,Guyana,15,10,271,3.103448,15.0,189

In [45]:
X = completed_df.drop(columns='runs_x')
y = completed_df['runs_x']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [104]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in d:\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Downloading xgboost-2.1.1-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/124.9 MB 1.3 MB/s eta 0:01:36
   ---------------------------------------- 0.4/124.9 MB 3.8 MB/s eta 0:00:33
   ---------------------------------------- 0.8/124.9 MB 5.0 MB/s eta 0:00:25
   ---------------------------------------- 1.3/124.9 MB 6.5 MB/s eta 0:00:19
    --------------------------------------- 2.1/124.9 MB 8.8 MB/s eta 0:00:14
    --------------------------------------- 2.7/124.9 MB 9.7 MB/s eta 0:00:13
   - -------------------------------------- 3.3/124.9 MB 10.1 MB/s eta 0:00:12
   - -------------------------------------- 4.1/124.9 MB 10.8 MB/s eta 0:00:12
   - -------------------------------------- 5.0/124.9 MB 11.8 MB/s eta 0:00:11
   - -------------------------------------- 5.8/124.9 MB 12.4 MB/s eta 0:00:10
   - -------------------------------------- 6.2/124.9 MB 12.0 MB/s eta 0:00:10
   -- ------------------------------------- 7.1/124.9 MB 12.5 MB/s eta 0:00:10
   -- ------------------------------------- 7.7/124.9 MB 12.7 MB/s eta 0:00:10
   -- ------------------------------------- 8.4/124.9 MB 12.7 MB/s eta 0:00:10
   -- ------------------------------------- 9.3/124.9 MB 13.1 MB/s eta 0:00:09
   --- ------------------------------------ 10.1/124.9 MB 13.4 MB/s eta 0:00:09
   --- ------------------------------------ 10.8/124.9 MB 15.2 MB/s eta 0:00:08
   --- ------------------------------------ 11.3/124.9 MB 15.2 MB/s eta 0:00:08
   --- ------------------------------------ 12.0/124.9 MB 15.2 MB/s eta 0:00:08
   ---- ----------------------------------- 12.8/124.9 MB 15.6 MB/s eta 0:00:08
   ---- ----------------------------------- 13.4/124.9 MB 15.6 MB/s eta 0:00:08
   ---- ----------------------------------- 14.3/124.9 MB 15.6 MB/s eta 0:00:08
   ---- ----------------------------------- 15.0/124.9 MB 15.6 MB/s eta 0:00:08
   ----- ---------------------------------- 15.9/124.9 MB 15.2 MB/s eta 0:00:08
   ----- ---------------------------------- 16.6/124.9 MB 16.0 MB/s eta 0:00:07
   ----- ---------------------------------- 17.1/124.9 MB 15.6 MB/s eta 0:00:07
   ----- ---------------------------------- 17.9/124.9 MB 15.6 MB/s eta 0:00:07
   ----- ---------------------------------- 18.7/124.9 MB 16.0 MB/s eta 0:00:07
   ------ --------------------------------- 19.6/124.9 MB 16.0 MB/s eta 0:00:07
   ------ --------------------------------- 20.3/124.9 MB 15.6 MB/s eta 0:00:07
   ------ --------------------------------- 21.0/124.9 MB 15.6 MB/s eta 0:00:07
   ------ --------------------------------- 21.7/124.9 MB 16.0 MB/s eta 0:00:07
   ------- -------------------------------- 22.3/124.9 MB 16.0 MB/s eta 0:00:07
   ------- -------------------------------- 23.2/124.9 MB 16.0 MB/s eta 0:00:07
   ------- -------------------------------- 24.0/124.9 MB 16.0 MB/s eta 0:00:07
   ------- -------------------------------- 24.6/124.9 MB 16.0 MB/s eta 0:00:07
   -------- ------------------------------- 25.5/124.9 MB 16.0 MB/s eta 0:00:07
   -------- ------------------------------- 26.3/124.9 MB 16.0 MB/s eta 0:00:07
   -------- ------------------------------- 27.1/124.9 MB 16.0 MB/s eta 0:00:07
   -------- ------------------------------- 27.9/124.9 MB 16.4 MB/s eta 0:00:06
   --------- ------------------------------ 28.6/124.9 MB 16.4 MB/s eta 0:00:06
   --------- ------------------------------ 29.4/124.9 MB 16.4 MB/s eta 0:00:06
   --------- ------------------------------ 30.2/124.9 MB 16.4 MB/s eta 0:00:06
   --------- ------------------------------ 31.1/124.9 MB 16.8 MB/s eta 0:00:06
   ---------- ----------------------------- 31.8/124.9 MB 16.8 MB/s eta 0:00:06
   ---------- ----------------------------- 32.7/124.9 MB 17.2 MB/s eta 0:00:06
   ---------- ----------------------------- 33.6/124.9 MB 17.2 MB/s eta 0:00:06
   ----------- ---------------------------- 34.4/124.9 MB 17.7 MB/s eta 0:00:06
   ----------- ---------------------------- 35.3/124.9 MB 18.2 MB/s eta 0:00:05
   ----------- ---------------------------- 36.0/124.9 MB 17.7 MB/s eta 0:00:06
   ----------- ---------------------------- 36.9/124.9 MB 17.7 MB/s eta 0:00:05
   ------------ --------------------------- 37.7/124.9 MB 17.7 MB/s eta 0:00:05
   ------------ --------------------------- 38.3/124.9 MB 17.2 MB/s eta 0:00:06
   ------------ --------------------------- 39.1/124.9 MB 17.7 MB/s eta 0:00:05
   ------------ --------------------------- 39.7/124.9 MB 17.2 MB/s eta 0:00:05
   ------------ --------------------------- 40.6/124.9 MB 17.2 MB/s eta 0:00:05
   ------------- -------------------------- 41.3/124.9 MB 17.2 MB/s eta 0:00:05
   ------------- -------------------------- 42.2/124.9 MB 17.2 MB/s eta 0:00:05
   ------------- -------------------------- 43.1/124.9 MB 17.3 MB/s eta 0:00:05
   -------------- ------------------------- 43.9/124.9 MB 17.3 MB/s eta 0:00:05
   -------------- ------------------------- 44.8/124.9 MB 17.2 MB/s eta 0:00:05
   -------------- ------------------------- 45.6/124.9 MB 17.2 MB/s eta 0:00:05
   -------------- ------------------------- 46.4/124.9 MB 17.2 MB/s eta 0:00:05
   -------------- ------------------------- 46.5/124.9 MB 16.4 MB/s eta 0:00:05
   -------------- ------------------------- 46.6/124.9 MB 15.6 MB/s eta 0:00:06
   --------------- ------------------------ 47.2/124.9 MB 14.9 MB/s eta 0:00:06
   --------------- ------------------------ 48.0/124.9 MB 14.9 MB/s eta 0:00:06
   --------------- ------------------------ 48.9/124.9 MB 14.9 MB/s eta 0:00:06
   --------------- ------------------------ 49.7/124.9 MB 15.2 MB/s eta 0:00:05
   ---------------- ----------------------- 50.6/124.9 MB 15.6 MB/s eta 0:00:05
   ---------------- ----------------------- 51.5/124.9 MB 15.6 MB/s eta 0:00:05
   ---------------- ----------------------- 52.4/124.9 MB 15.6 MB/s eta 0:00:05
   ----------------- ---------------------- 53.2/124.9 MB 15.6 MB/s eta 0:00:05
   ----------------- ---------------------- 54.0/124.9 MB 15.2 MB/s eta 0:00:05
   ----------------- ---------------------- 54.7/124.9 MB 15.2 MB/s eta 0:00:05
   ----------------- ---------------------- 55.4/124.9 MB 15.2 MB/s eta 0:00:05
   ------------------ --------------------- 56.3/124.9 MB 15.2 MB/s eta 0:00:05
   ------------------ --------------------- 57.2/124.9 MB 17.7 MB/s eta 0:00:04
   ------------------ --------------------- 58.0/124.9 MB 18.2 MB/s eta 0:00:04
   ------------------ --------------------- 58.9/124.9 MB 17.7 MB/s eta 0:00:04
   ------------------- -------------------- 59.7/124.9 MB 17.7 MB/s eta 0:00:04
   ------------------- -------------------- 60.6/124.9 MB 17.7 MB/s eta 0:00:04
   ------------------- -------------------- 61.5/124.9 MB 17.7 MB/s eta 0:00:04
   ------------------- -------------------- 62.4/124.9 MB 17.7 MB/s eta 0:00:04
   -------------------- ------------------- 63.1/124.9 MB 17.7 MB/s eta 0:00:04
   -------------------- ------------------- 63.9/124.9 MB 17.2 MB/s eta 0:00:04
   -------------------- ------------------- 64.9/124.9 MB 18.2 MB/s eta 0:00:04
   --------------------- ------------------ 65.9/124.9 MB 18.2 MB/s eta 0:00:04
   --------------------- ------------------ 66.8/124.9 MB 19.3 MB/s eta 0:00:04
   --------------------- ------------------ 67.6/124.9 MB 19.3 MB/s eta 0:00:03
   --------------------- ------------------ 68.4/124.9 MB 19.3 MB/s eta 0:00:03
   ---------------------- ----------------- 69.6/124.9 MB 19.2 MB/s eta 0:00:03
   ---------------------- ----------------- 70.5/124.9 MB 19.8 MB/s eta 0:00:03
   ---------------------- ----------------- 71.5/124.9 MB 19.9 MB/s eta 0:00:03
   ----------------------- ---------------- 72.5/124.9 MB 19.3 MB/s eta 0:00:03
   ----------------------- ---------------- 73.4/124.9 MB 19.8 MB/s eta 0:00:03
   ----------------------- ---------------- 74.1/124.9 MB 19.2 MB/s eta 0:00:03
   ----------------------- ---------------- 74.7/124.9 MB 19.3 MB/s eta 0:00:03
   ------------------------ --------------- 75.7/124.9 MB 19.3 MB/s eta 0:00:03
   ------------------------ --------------- 76.7/124.9 MB 19.8 MB/s eta 0:00:03
   ------------------------ --------------- 77.8/124.9 MB 19.8 MB/s eta 0:00:03
   ------------------------- -------------- 78.6/124.9 MB 19.9 MB/s eta 0:00:03
   ------------------------- -------------- 79.5/124.9 MB 19.9 MB/s eta 0:00:03
   ------------------------- -------------- 80.6/124.9 MB 19.3 MB/s eta 0:00:03
   -------------------------- ------------- 81.6/124.9 MB 19.2 MB/s eta 0:00:03
   -------------------------- ------------- 82.5/124.9 MB 19.8 MB/s eta 0:00:03
   -------------------------- ------------- 83.5/124.9 MB 19.8 MB/s eta 0:00:03
   --------------------------- ------------ 84.4/124.9 MB 20.5 MB/s eta 0:00:02
   --------------------------- ------------ 85.5/124.9 MB 21.1 MB/s eta 0:00:02
   --------------------------- ------------ 86.6/124.9 MB 21.9 MB/s eta 0:00:02
   ---------------------------- ----------- 87.7/124.9 MB 21.9 MB/s eta 0:00:02
   ---------------------------- ----------- 88.6/124.9 MB 21.1 MB/s eta 0:00:02
   ---------------------------- ----------- 89.4/124.9 MB 21.1 MB/s eta 0:00:02
   ---------------------------- ----------- 90.3/124.9 MB 21.1 MB/s eta 0:00:02
   ----------------------------- ---------- 91.1/124.9 MB 20.5 MB/s eta 0:00:02
   ----------------------------- ---------- 91.9/124.9 MB 20.5 MB/s eta 0:00:02
   ----------------------------- ---------- 92.6/124.9 MB 19.8 MB/s eta 0:00:02
   ----------------------------- ---------- 93.3/124.9 MB 19.3 MB/s eta 0:00:02
   ------------------------------ --------- 94.3/124.9 MB 19.9 MB/s eta 0:00:02
   ------------------------------ --------- 95.1/124.9 MB 19.3 MB/s eta 0:00:02
   ------------------------------ --------- 96.1/124.9 MB 18.7 MB/s eta 0:00:02
   ------------------------------- -------- 97.0/124.9 MB 18.7 MB/s eta 0:00:02
   ------------------------------- -------- 97.5/124.9 MB 17.7 MB/s eta 0:00:02
   ------------------------------- -------- 98.3/124.9 MB 17.2 MB/s eta 0:00:02
   ------------------------------- -------- 99.1/124.9 MB 17.7 MB/s eta 0:00:02
   ------------------------------- ------- 100.0/124.9 MB 17.3 MB/s eta 0:00:02
   ------------------------------- ------- 100.8/124.9 MB 17.3 MB/s eta 0:00:02
   ------------------------------- ------- 101.4/124.9 MB 16.8 MB/s eta 0:00:02
   ------------------------------- ------- 102.2/124.9 MB 16.8 MB/s eta 0:00:02
   ------------------------------- ------- 102.4/124.9 MB 16.8 MB/s eta 0:00:02
   -------------------------------- ------ 102.7/124.9 MB 16.0 MB/s eta 0:00:02
   -------------------------------- ------ 102.9/124.9 MB 14.6 MB/s eta 0:00:02
   -------------------------------- ------ 103.3/124.9 MB 14.6 MB/s eta 0:00:02
   -------------------------------- ------ 103.5/124.9 MB 13.6 MB/s eta 0:00:02
   -------------------------------- ------ 103.9/124.9 MB 13.1 MB/s eta 0:00:02
   -------------------------------- ------ 104.6/124.9 MB 12.8 MB/s eta 0:00:02
   -------------------------------- ------ 105.1/124.9 MB 12.6 MB/s eta 0:00:02
   -------------------------------- ------ 105.7/124.9 MB 12.4 MB/s eta 0:00:02
   --------------------------------- ----- 106.3/124.9 MB 12.1 MB/s eta 0:00:02
   --------------------------------- ----- 107.0/124.9 MB 11.9 MB/s eta 0:00:02
   --------------------------------- ----- 107.7/124.9 MB 12.1 MB/s eta 0:00:02
   --------------------------------- ----- 108.3/124.9 MB 11.9 MB/s eta 0:00:02
   --------------------------------- ----- 108.9/124.9 MB 11.9 MB/s eta 0:00:02
   ---------------------------------- ---- 109.7/124.9 MB 11.7 MB/s eta 0:00:02
   ---------------------------------- ---- 110.4/124.9 MB 11.7 MB/s eta 0:00:02
   ---------------------------------- ---- 111.3/124.9 MB 11.7 MB/s eta 0:00:02
   ---------------------------------- ---- 112.0/124.9 MB 11.7 MB/s eta 0:00:02
   ----------------------------------- --- 112.7/124.9 MB 12.1 MB/s eta 0:00:02
   ----------------------------------- --- 113.5/124.9 MB 13.4 MB/s eta 0:00:01
   ----------------------------------- --- 114.3/124.9 MB 15.2 MB/s eta 0:00:01
   ----------------------------------- --- 115.1/124.9 MB 15.6 MB/s eta 0:00:01
   ------------------------------------ -- 115.8/124.9 MB 15.6 MB/s eta 0:00:01
   ------------------------------------ -- 116.4/124.9 MB 15.2 MB/s eta 0:00:01
   ------------------------------------ -- 117.1/124.9 MB 15.2 MB/s eta 0:00:01
   ------------------------------------ -- 118.0/124.9 MB 15.6 MB/s eta 0:00:01
   ------------------------------------- - 118.6/124.9 MB 15.6 MB/s eta 0:00:01
   ------------------------------------- - 119.5/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------- - 120.1/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------- - 121.1/124.9 MB 16.4 MB/s eta 0:00:01
   --------------------------------------  122.0/124.9 MB 16.4 MB/s eta 0:00:01
   --------------------------------------  123.0/124.9 MB 16.8 MB/s eta 0:00:01
   --------------------------------------  123.8/124.9 MB 16.8 MB/s eta 0:00:01
   --------------------------------------  124.7/124.9 MB 16.8 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 17.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 17.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 17.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 17.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 17.2 MB/s eta 0:00:01
   --------------------------------------- 124.9/124.9 MB 12.1 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.1.1

In [106]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [112]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city']) # Applied OneHotEncoder 
], remainder='passthrough')

In [114]:
pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))  
])

In [116]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9892278644056516
2.6619380918152515

In [118]:
pickle.dump(pipe, open('XGBRegressor_model.pkl', 'wb'))